<div class="w-full h-full">
    <!-- <div class="flex">
        <app-sidebar></app-sidebar>
        <div class="w-full">
            <app-header ></app-header>
        </div>
    </div> -->
    <app-header ></app-header>
    <div class="flex">
        <div class="basis-[26%]">
            <app-sidebar></app-sidebar>
        </div>
        <div class="bg-[#f2f5f9] w-full">
            <div class="w-full h-full">
                <router-outlet></router-outlet>   
                
                <app-botones-rutas></app-botones-rutas>
            </div>
        </div>

    </div>
     

</div>



