<div *ngIf="banner" class="h-full relative w-full banner_auth">
    <div class="flex flex-col items-center justify-center h-full gap-y-10 ">

        <div class="w-[70%] flex flex-col gap-y-3">
            <h1 style="font-family: Avenir;" class="text-2xl font-extrabold"> PRODUCTOS DISEÑADOS PARA LAS NECESIDADES REALES DE TUS ASEGURADOS </h1>
            <h3>Apoyamos tu misión de ofrecer un servicio de <br> calidad a tus clientes, conoce todas nuestras <br> opciones de
                cobertura.</h3>
        </div>
        <div>

            <a href="#">
                <button class="hover:bg-[#00488D] border-2 text-white font-medium py-2 px-4 rounded"> 
                    Más información
                </button>
            </a>
        </div>
    </div>

    <div class="absolute w-full flex justify-center bottom-1">
        <h6 class="text-xs ">Óptima Compañía de Seguros es parte del Grupo Capital bank | © 2021 Todos los derechos Reservados.
         <br>
            Regulado y Supervisado por la Superintendencia de Seguros y Reaseguros de Panamá.
        </h6>
    </div>
</div>
